#hero {
	background-color: $gray;
}

#info-box {
	padding: 0 5rem 5rem 5rem;
}

#carousel {
	padding: 5rem 0;
}

#brand-cta {
	padding: 5rem 5rem 0 5rem;
}

@media screen and (max-width: $bp-med) {
	#hero {
		.hero-hex {
			display: none;
		}
	}
}
