/* MONO
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
$black: #000000;
$gray: #959595;
$white: #ffffff;

/* THEME
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary: #757575;
$secondary: #1b1717;

$border: #dadada;
$border-overlay: rgba(255, 255, 255, 0.25);

$smoke: #f3f3f3;
$rating: #3f3f3f;
$hover: #5f5f5f;

/* TEXT
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
$text-heading: #1b1717;
$text-primary: #757575;
$text-secondary: #1b1717;
$text-paragraph: #6e6e6e;
$text-white: #ffffff;
