button,
input[type="submit"] {
	margin-top: 1rem;
	border: none;
	padding: 2.2rem 4rem;
	background-color: $primary;
	color: $white;

	&:hover {
		background-color: $hover;
	}
}

.button-secondary {
	background-color: $secondary;
}
