/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

header {
	position: relative;
	z-index: 100;
	display: flex;
	width: 100%;
	height: 12.3rem;
	padding: 0 5rem;
	background-color: $gray;
	border-bottom: 2px solid $border-overlay;

	.header-brand {
		height: 100%;
		display: flex;
		align-items: center;
		width: clamp(150px, 245px, 245px);

		.brand-image {
			width: 100%;
			display: flex;
			align-items: center;

			img {
				width: 100%;
			}
		}
	}

	nav {
		height: 100%;
		width: calc(100% - 150px);

		.nav-toggle {
			// position: absolute;
			// top: 2rem;
			// right: 8.33%;
			display: none;
			// font-size: 2rem;
		}

		.nav-items {
			height: 100%;
			display: flex;
			justify-content: flex-end;

			margin: 0;
			padding: 0;
			list-style: none;

			.nav-item {
				height: 100%;

				a {
					display: flex;
					align-items: center;
					height: 100%;
					padding: 15px;

					&:hover,
					&:active {
						background-color: $primary;
					}
				}

				.active-link {
					background-color: $primary;
				}

				&:before {
					content: none;
				}
			}
		}
	}
}
