header {
	position: relative;
	z-index: 100;
	display: flex;
	width: 100%;
	height: 12.3rem;
	border-bottom: 2px solid $border-overlay;
	padding: $header-margin;
	background-color: $gray;

	.header-brand {
		display: flex;
		align-items: center;
		width: clamp(140px, 235px, 245px);
		height: 100%;
	}

	nav {
		position: relative;
		width: calc(100% - 150px);
		height: 100%;

		#nav-toggle {
			position: absolute;
			top: 25%;
			right: 0;
			display: none;
			font-size: 4rem;
		}

		.nav-items {
			height: 100%;

			ul {
				display: flex;
				justify-content: flex-end;
				margin: 0;
				height: 100%;
				padding: 0;
				list-style: none;

				.nav-item {
					height: 100%;

					a {
						display: flex;
						align-items: center;
						height: 100%;
						padding: 15px;

						&:hover,
						&:active {
							background-color: $primary;
						}
					}

					.active-link {
						background-color: $primary;
					}

					&:before {
						content: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $bp-nav) {
	header {
		nav {
			flex-direction: column;
			align-items: flex-start;
			padding: 2rem 8.33%;

			#nav-toggle {
				display: flex;
			}

			.nav-items {
				display: none;
				width: 100%;

				ul {
					z-index: 100;
					position: absolute;
					flex-direction: column;
					margin-top: 35.6rem;
					border: 1px solid $border;
					width: 100%;
					background-color: $gray;

					.nav-item {
						width: 100%;
						margin: 0;

						a {
							display: block;
							width: 100%;
							padding: 2rem 0;
							background-color: $gray;
							text-align: center;

							&:hover {
								background-color: $hover;
							}
						}
					}
				}
			}

			.nav-items.active {
				display: block;
			}
		}
	}
}
