section {
	width: 100%;
	display: flex;
	padding: 5rem;
	justify-content: space-between;

	.section-full,
	.section-half {
		height: 100%;
	}

	.section-full {
		width: 100%;
	}

	.section-half {
		width: calc(50% - 15px);
	}

	.section-header {
		.h6 {
			position: relative;
			z-index: 100;

			&::before {
				z-index: -100;
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 4.2rem;
				font-family: "FontAwesome";
				content: "\f1ce";
				color: $smoke;
				font-size: 150px;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
			}
		}

		.no-deco {
			&::before {
				content: none;
			}
		}

		h1,
		h2 {
			position: relative;
			z-index: 100;
		}
		.section-body {
			padding-bottom: 1rem;
		}
	}

	.section-image,
	.image-stack {
		width: 100%;
		display: flex;
		color: $white;

		img {
			width: 100%;
			height: auto;
			background-color: $primary;
		}
	}

	.image-stack {
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			background-color: #c4c4c4;
			width: 66%;

			&:first-child,
			&:last-child {
				margin-left: 15%;
				background-color: #c4c4c4;
			}

			&:nth-child(2) {
				margin-top: 25%;
				background-color: $border;
			}

			&:last-child {
				margin-top: 50%;
			}
		}
	}

	.section-cards {
	}
}
