section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	padding: $margin;

	.section-full,
	.section-half {
		height: 100%;
	}

	.section-full {
		width: 100%;
	}

	.section-half {
		width: calc(50% - 15px);
	}

	.section-header {
		.h6 {
			&::before {
				@include fontawesome;
				content: "\f1ce";
				z-index: -100;
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 4.2rem;
				color: $smoke;
				font-size: 150px;
			}
		}

		.no-deco {
			&::before {
				content: none;
			}
		}

		h1,
		h2,
		.h6 {
			position: relative;
			z-index: 99;
		}
		.section-body {
			padding-bottom: 1rem;
		}
	}
}

@media screen and (max-width: $bp-med) {
	section {
		flex-direction: column;

		.section-half {
			width: 100%;
		}
	}
}
