.testimonial-card {
	width: 100%;
	height: auto;
	border: 1px solid $border;
	padding: 3rem;

	.testimonial-stars {
		margin-bottom: 16px;

		.fa-solid {
			color: $rating;
		}
	}

	.testimonial-body {
		width: 100%;

		.testimonial-author {
			width: 100%;
			display: flex;
			align-items: center;

			.author-image {
				width: 85px;
			}

			.author-cite {
				display: flex;
				flex-direction: column;
				width: calc(100% - 85px);
				padding-left: 2rem;
			}
		}
	}
}
